.container {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  text-align: center;
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  opacity: 1;
}

.top {
  position: relative;
  max-width: 800px;
  top: -400px;
  left: -380px;
  z-index: -1;
}
.bottom {
  position: relative;
  max-width: 950px;
  z-index: -1;
  bottom: 360px;
  right: -430px;
}
.card {
  background-color: rgb(245, 244, 244);
  width: 280px;
  height: 350px;
  margin: auto;
  margin-top: -1520px;
  border-radius: 25px;
}
.carding {
  width: 280px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.dp {
  border: 5px rgb(255, 255, 255) solid;
  border-radius: 50px;
  margin: -60px 0px 30px 0px;
  opacity: 1;
}
.h {
  margin-top: -10px;
  margin-left: 0px;
  font-weight: 700;
}
p span {
  margin-left: 10px;
  color: grey;
}
.city,
hr {
  font-weight: 400;
  color: grey;
}
.social {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  margin-left: 10px;
}
.name {
  margin-top: -22px;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 13px;
}
.photos {
  margin-left: 10px;
}

.attribution {
  font-size: 15px;
  margin-top: 100px;
}

/* For Mobile- 375px */
@media screen and (max-width: 375px) {
  .container {
    display: block;
    font-size: 18px;
    max-height: 640px;
    max-width: 360px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .top {
    max-width: 500px;
    top: -237px;
    left: -306px;
  }
  .bottom {
    max-width: 500px;
    bottom: 131px;
    right: -148px;
  }
  .card {
    height: 370px;
    width: 300px;
    margin: -855px 0px 50px 35px;
  }
  .carding {
    width: 300px;
  }
  .attribution {
    font-size: 12px;
  }
}
